<html ng-app="ionicApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>FormApp - La aplicació per a formar-te a les terres de l'Ebre.</title>

    <!--<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <link href="css/style.css" rel="stylesheet">


    <!-- your app's js -->
    <script src="js/app_dev.js"></script>
</head>

<body ng-controller="MyCtrl">
<ion-header-bar class="bar-default">
    <div class="button icon-left ion-chevron-left button-clear button-dark" ng-show="items[0].training_resource_parentResourceId"
         ng-click="updateList(last_item)">Tornar
    </div>

    <a href="index.html" class="button icon-left ion-chevron-left button-clear button-dark" ng-hide="items[0].training_resource_parentResourceId"
       ng-click="updateList(last_item)"> <span class="network-name">Home</span></a>


    <h1 class="title">Formacions</h1>

</ion-header-bar>

<ion-content class="padding">

    <ion-list class="list list-inset">

        <div ng-repeat="item in items">
            <ion-item item="item" class="item item-stable item-thumbnail-left item-icon-right" ng-click="updateList(item.training_resource_id,item.training_resource_parentResourceId)">

                <!--
                                            <h2>id: {{ item.training_resource_id }}</h2>
                                            <h2>parent: {{ item.training_resource_parentResourceId }}</h2>
                              <i class="icon ion-arrow-graph-up-right"></i>
-->

                    <img ng-src="{{item.training_resource_thumbnail}}">
                <p>
                    <h2>{{ item.training_resource_name }}</h2>
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>

            </ion-item>

        </div>

        <!--<pre>{{items | json}}</pre>-->

    </ion-list>

</ion-content>

</body>

</html>