/* Empty. Add your own CSS if you like */


body {
	background:	url(../img/xcomputerclass-bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
}

body .view-container.tab-content,ion-content {
	background-color: transparent;
    opacity: 0.8;

}

body .pane, .menu, .view, .list, .item  {
    background: transparent;
    text-align: left;

}
.item-button-right, a.item.item-button-right, button.item.item-button-right{
  padding-right:0px !important
}
